@font-face {
    font-family: 'Exo';
    src: url('Exo/static/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Exo';
    vertical-align: baseline;
}

body{
    background-color: RGB(56, 76, 174);
}

div#main{
    animation-duration: 2s;
}

@keyframes rotateCalculator{
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* ======== Tapadera de la calculadora ======== */

div.coverContainer{
    position: relative;
    display: flex;
    justify-content: center;
}

div#cover{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
    width: 450px;
    height: 840px;
    margin-top: 115px;
    border-radius: 20px 20px 40px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes removeCover{
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 600px); 
    }
    75% {
        transform: translate(-500px, 600px); 
    }
    100% {
        transform: translate(-500px, 0);
    }
}

@keyframes putCover{
    0% {
        transform: translate(-500px, 0);
    }
    50% {
        transform: translate(-500px, 600px); 
    }
    75% {
        transform: translate(0px, 600px); 
    }
    100% {
        transform: translate(0, 0);
    }
}

div#logo{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 150px;
    margin-left: 150px;
}

h1{
    font-size: 48px;
    color: rgb(112, 112, 112);
}

div.topMarks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

div.bottomMarks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

div.marks{
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 90%);
    background-color: rgb(112, 112, 112);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

div.bottomMarks > div.marks{
    width: 20px;
    height: 20px;
}

/* ======== Calculadora ======== */

div#calculatorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: RGB(77, 77, 77);
    margin: 100px 720px 100px 720px;
    height: 820px;
    border-radius: 10px 10px 50px 50px;
    border-top: 8px outset rgb(207, 207, 207);
    border-right: 8px inset rgb(207, 207, 207);
    border-bottom: 25px inset rgb(207, 207, 207);
    border-left: 8px outset rgb(207, 207, 207);
}

/* ======== Pantalla ======== */

div.calculatorScreenContainer{     
    width: 330px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(77, 77, 77);
    font-size: 30px;   
    border-left: 8px outset black;                 
    border-bottom: 18px outset grey;          
    border-top: 8px inset black;       
    border-right: 8px outset black;
    border-radius: 8px;
    margin-top: 120px;
}

div.calculatorScreen {
    background-color: RGB(201, 223, 210);
    width: 90%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.calculatorScreen > input {
    background-color: RGB(201, 223, 210);
    overflow: hidden;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    pointer-events: none;
}

div.calculatorScreen > input:focus {
    outline: none;
    border: none; 
}

/* Quitar las flechas de incremento y decremento */
div.calculatorScreen > input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* ======== Botones ======== */

div.calculatorButtonsContainer{
    width: 340px;
    display: flex;
    flex-direction: column;
}

div.onButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
}

div.arrowsContainer{
    display: grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(3, 35px);
    justify-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

div.leftArrow{
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: RGB(142, 142, 142);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    grid-row: 2;
    grid-column: 1;
}

div.rightArrow{
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: RGB(142, 142, 142);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    grid-row: 2;
    grid-column: 3;
}

div.upArrow{
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: RGB(142, 142, 142);
    clip-path: polygon(100% 25%, 100% 100%, 50% 75%, 0% 100%, 0% 25%, 50% 0%);
    grid-row: 1;
    grid-column: 2;
}

div.downArrow{
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: RGB(142, 142, 142);
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%, 50% 25%);
    grid-row: 3;
    grid-column: 2;
}

div.calculatorTopButtons{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, 40px);
    margin-bottom: 30px;
}

div.calculatorBottomButtons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, 40px);
    margin-bottom: 75px;
}

button#on{
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: RGB(142, 142, 142);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 10px;
}

button.calculatorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
}

button.calculatorButton:hover{
    cursor: pointer;
}

button.calculatorTopButton {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-top: 5px solid rgb(48, 48, 48);
    border-right: 5px solid gray;
    width: 50px;
    height: 25px;
}

button.calculatorBottomButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    border-top: 5px solid rgb(48, 48, 48);
    border-right: 5px solid gray;
    width: 55px;
    height: 30px;
}

button.deleteButton {
    background-color: RGB(254, 207, 92);
    color: black;
    font-weight: bold;
}

button.letterButton{
    font-weight: bold;
}

button.operatorButton {
    background-color: RGB(56, 76, 174);
    font-size: 24px;
}

div.dot{
    background-color: white;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

button.superIndexButton{
    display: inline-block;
}

button.fractionButton{
    flex-direction: column;
}

span.superIndex{
    vertical-align: super;
    margin-bottom: 8px;
}

span.subIndex{
    vertical-align: sub;
    margin-top: 8px;
}

span.fillSquare{
    width: 5px;
    height: 5px;
    background-color: black;
    margin-left: 2px;
}

span.nonFillRectangle{
    width: 5px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    margin-left: 2px;
}

span.fractionBar{
    border: 1px solid black;
    width: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

span.superIndexLetter{
    font-size: 14px;
}

span.superIndexNumber{
    font-size: 10px;
}

button.topLeft{
    border-radius: 15px 5px 5px 5px;
}

button.topRight{
    border-radius: 5px 15px 5px 5px;
}

button.bottomLeft{
    border-radius: 5px 5px 5px 15px;
}

button.bottomRight {
    border-radius: 5px 5px 15px 5px;
}

button.equalButton {
    font-size: 20px;
}

