@font-face {
    font-family: 'Exo';
    src: url('Exo/static/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Exo';
    vertical-align: baseline;
}

body{
    background-color: RGB(56, 76, 174);
}

div.coverContainer{
    position: relative;
    display: flex;
    justify-content: center;
}

div.cover{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
    width: 450px;
    height: 840px;
    margin-top: 115px;
    border-radius: 10px 10px 40px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

div.logo{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 150px;
    margin-top: 150px;
}

h1{
    font-size: 48px;
    color: rgb(112, 112, 112);
}

div.topMarks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

div.bottomMarks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

div.marks{
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 90%);
    background-color: rgb(112, 112, 112);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

div.bottomMarks > div.marks{
    width: 20px;
    height: 20px;
}

div.calculatorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: RGB(77, 77, 77);
    margin: 100px 720px 100px 720px;
    height: 820px;
    border-radius: 10px 10px 50px 50px;
    border-top: 8px outset rgb(207, 207, 207);
    border-right: 8px inset rgb(207, 207, 207);
    border-bottom: 25px inset rgb(207, 207, 207);
    border-left: 8px outset rgb(207, 207, 207);
}

div.calculatorScreenContainer{     
    width: 330px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(77, 77, 77);
    font-size: 30px;   
    border-left: 8px outset black;                 
    border-bottom: 18px outset grey;          
    border-top: 8px inset black;       
    border-right: 8px outset black;
    border-radius: 8px;
    margin-top: 120px;
}

div.calculatorScreen {
    background-color: RGB(201, 223, 210);
    width: 90%;
    height: 80%;
    border-radius: 8px;
}

div.calculatorButtons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, 40px);
    width: 320px;
    margin-bottom: 20px;
}

button.calculatorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 50%);
    background-color: black;
    color: white;
    border-radius: 5px;
    border-top: 5px solid rgb(48, 48, 48);
    border-right: 5px solid gray;
    width: 55px;
    height: 30px;
}

button.deleteButton {
    background-color: RGB(254, 207, 92);
    color: black;
    font-weight: bold;
}

button.letterButton{
    font-weight: bold;
}

button.operatorButton {
    background-color: RGB(56, 76, 174);
    font-size: 24px;
}

div.dot{
    background-color: white;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

button.superIndexButton{
    display: inline-block;
}

span.superIndex{
    font-size: 14px;
    vertical-align: super;
}

button.sevenButton{
    border-radius: 15px 5px 5px 5px;
}

button.acButton{
    border-radius: 5px 15px 5px 5px;
}

button.zeroButton{
    border-radius: 5px 5px 5px 15px;
}

button.equalButton {
    font-size: 20px;
    border-radius: 5px 5px 15px 5px;
}

